{% extends "base.html" %}

{% block main %}


<header>
    <body background="./static/imagens/fundo.png"></body>
    <div class="center">
        <img src="./static/imagens/capa.png">
    </div>
</header>

<main class="text">
    <section>
        <h2>Sobre a universidade</h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, dicta ab libero tenetur voluptatem beatae quo necessitatibus animi commodi, rerum, earum numquam labore facilis est dolorum! Fuga fugit aperiam repudiandae? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum voluptate corporis rerum, eligendi possimus, magni, sit doloribus totam id dolor optio! Facilis quo libero quos fugit nesciunt natus illo maxime! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem accusamus, maiores autem aspernatur quod dolore ab iste pariatur quos quaerat eos laborum ullam labore eum provident repudiandae. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus alias atque culpa quasi quis magni, repudiandae rem unde eligendi beatae animi, eius ipsam aspernatur error tenetur ipsum.
        </p>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis obcaecati sapiente ad rerum adipisci harum! Illum voluptas molestiae placeat vitae, a facilis veniam neque officiis accusamus facere. Sed, officia ipsum! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati sapiente repellat asperiores perferendis accusantium. Nihil nam minus vel sapiente, pariatur asperiores, dolorum repellat accusantium iure at voluptas expedita voluptatum reprehenderit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ad possimus unde nobis esse eius fugit earum similique aliquid eaque necessitatibus temporibus atque, quae minima animi. Nostrum consequatur quia animi.
        </p>
    </section>
</main>
   
{% endblock %} 
