{% extends "base.html" %}

{% block main %}

<body background="./static/imagens/fundo2.png"></body>

<main class="text">
    <section>
        <h3>Quem somos</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis obcaecati sapiente ad rerum adipisci harum! Illum voluptas molestiae placeat vitae, a facilis veniam neque officiis accusamus facere. Sed, officia ipsum! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati sapiente repellat asperiores perferendis accusantium. Nihil nam minus vel sapiente, pariatur asperiores, dolorum repellat accusantium iure at voluptas expedita voluptatum reprehenderit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ad possimus unde nobis esse eius fugit earum similique aliquid eaque necessitatibus temporibus atque, quae minima animi. Nostrum consequatur quia animi. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem accusamus, maiores autem aspernatur quod dolore ab iste pariatur quos quaerat eos laborum ullam labore eum provident repudiandae.
        </p>

        <h3>5 motivos para estudar</h3>
        
        <ol class="motivos">
            <li> Material sempre atualizado </li>
            <li> Tablets em sala de aula </li>
            <li> Professores renomados </li>
            <li> Universidade bem avaliada </li>
            <li> Ótima localização </li>
        </ol>
        <hr>

        <h3>Objetivos</h3>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Facilis obcaecati sapiente ad rerum adipisci harum! Illum voluptas molestiae placeat vitae, a facilis veniam neque officiis accusamus facere. Sed, officia ipsum! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati sapiente repellat asperiores perferendis accusantium. Nihil nam minus vel sapiente, pariatur asperiores, dolorum repellat accusantium iure at voluptas expedita voluptatum reprehenderit! Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem ad possimus unde nobis esse eius fugit earum similique aliquid eaque necessitatibus temporibus atque, quae minima animi. 
        </p>
    </section>
</main>

{% endblock %}
