{% extends "base.html" %}

{% block main %}

<div id="carouselExample" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../static/img/011.jpg" class="d-block w-100" alt="...">
    </div>
  </div> 
</div>

<br><hr>

<p><h2 class="text-center">PRÓXIMOS ROTEIROS</h2></p><br>

<p><h3 class="text-center">NOVEMBRO 2023</h3></p>
<hr>

<div class="col-10 m-auto row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="../static/img/sumaca.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">11 DE NOVEMBRO</h5>
          <h5 class="card-title">Praia da Sumaca - Paraty/RJ</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est, provident illo natus iste nihil voluptatibus, sunt incidunt illum enim consequuntur molestiae explicabo quibusdam doloremque assumenda. Explicabo minus soluta iste.</p>
          <button type="button" class="btn btn-secondary">Conheça este roteiro</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/img/cachoeiras-cunha.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">12 DE NOVEMBRO</h5>
          <h5 class="card-title">Trilha das Cachoeiras - Cunha/SP</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est, provident illo natus iste nihil voluptatibus, sunt incidunt illum enim consequuntur molestiae explicabo quibusdam doloremque assumenda. Explicabo minus soluta iste.</p>
          <button type="button" class="btn btn-secondary">Conheça este roteiro</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/img/aquatrekking.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">15 DE NOVEMBRO</h5>
          <h5 class="card-title">Aquatrekking na Serra da Mantiqueira</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est, provident illo natus iste nihil voluptatibus, sunt incidunt illum enim consequuntur molestiae explicabo quibusdam doloremque assumenda. Explicabo minus soluta iste.</p>
          <button type="button" class="btn btn-secondary">Conheça este roteiro</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/img/cachoeiras-marins.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">15 DE NOVEMBRO</h5>
          <h5 class="card-title">Cachoeiras do Marins - Piquete/SP</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est, provident illo natus iste nihil voluptatibus, sunt incidunt illum enim consequuntur molestiae explicabo quibusdam doloremque assumenda. Explicabo minus soluta iste.</p>
          <button type="button" class="btn btn-secondary">Conheça este roteiro</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/img/juatinga.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">18, 19 E 20 DE NOVEMBRO</h5>
          <h5 class="card-title">Travessia da Ponta da Juatinga - Paraty/RJ</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est, provident illo natus iste nihil voluptatibus, sunt incidunt illum enim consequuntur molestiae explicabo quibusdam doloremque assumenda. Explicabo minus soluta iste.</p>
          <button type="button" class="btn btn-secondary">Conheça este roteiro</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/img/ilha-dos-cocos.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">25 DE NOVEMBRO</h5>
          <h5 class="card-title">Expedição Ilha dos Cocos - Paraty/RJ</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est, provident illo natus iste nihil voluptatibus, sunt incidunt illum enim consequuntur molestiae explicabo quibusdam doloremque assumenda. Explicabo minus soluta iste.</p>
          <button type="button" class="btn btn-secondary">Conheça este roteiro</button>
        </div>
      </div>
    </div>
</div>

<br><br>
<p><h3 class="text-center">DEZEMBRO 2023</h3></p>
<hr>

<div class="col-10 m-auto row row-cols-1 row-cols-md-3 g-4">
    <div class="col">
      <div class="card">
        <img src="../static/img/amantikir.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">02 DE DEZEMBRO</h5>
          <h5 class="card-title">Cores D'Amantikir - Lavrinhas/SP</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est, provident illo natus iste nihil voluptatibus, sunt incidunt illum enim consequuntur molestiae explicabo quibusdam doloremque assumenda. Explicabo minus soluta iste.</p>
          <button type="button" class="btn btn-secondary">Conheça este roteiro</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/img/caminho-do-cafe.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">03 DE DEZEMBRO</h5>
          <h5 class="card-title">Caminho do Café - Trilha Cunha-Paraty/SP</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est, provident illo natus iste nihil voluptatibus, sunt incidunt illum enim consequuntur molestiae explicabo quibusdam doloremque assumenda. Explicabo minus soluta iste.</p>
          <button type="button" class="btn btn-secondary">Conheça este roteiro</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/img/travessia-cajaiba.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">09 DE DEZEMBRO</h5>
          <h5 class="card-title">Travessia da Cajaíba - Paraty/RJ</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est, provident illo natus iste nihil voluptatibus, sunt incidunt illum enim consequuntur molestiae explicabo quibusdam doloremque assumenda. Explicabo minus soluta iste.</p>
          <button type="button" class="btn btn-secondary">Conheça este roteiro</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/img/cutia.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">10 DE DEZEMBRO</h5>
          <h5 class="card-title">Expedição Ilha da Cutia + Saco da Velha - Paraty/RJ</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est, provident illo natus iste nihil voluptatibus, sunt incidunt illum enim consequuntur molestiae explicabo quibusdam doloremque assumenda. Explicabo minus soluta iste.</p>
          <button type="button" class="btn btn-secondary">Conheça este roteiro</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/img/retiro-de-silencio.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">16 DE DEZEMBRO</h5>
          <h5 class="card-title">Vivência Retiro do Silêncio - Cunha/SP</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est, provident illo natus iste nihil voluptatibus, sunt incidunt illum enim consequuntur molestiae explicabo quibusdam doloremque assumenda. Explicabo minus soluta iste.</p>
          <button type="button" class="btn btn-secondary">Conheça este roteiro</button>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card">
        <img src="../static/img/mamangua.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">17 DE DEZEMBRO</h5>
          <h5 class="card-title">Vivência de Camping no Saco do Mamanguá - Paraty/RJ</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Et est, provident illo natus iste nihil voluptatibus, sunt incidunt illum enim consequuntur molestiae explicabo quibusdam doloremque assumenda. Explicabo minus soluta iste.</p>
          <button type="button" class="btn btn-secondary">Conheça este roteiro</button>
        </div>
      </div>
    </div>
</div>

{% endblock %}

